.home-title {
    color: azure;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .example-card {
    width: 300px;
    margin: 10px;
  }