<app-calculator-header [title]="'Sand Crude'" />

<div class="calculator-container">
  <mat-card class="calculator-card">
    <mat-card-header>
      <mat-card-title><h5>For One Gallon</h5></mat-card-title>
    </mat-card-header>
    <mat-card-content class="calculator-content">
      <h6 style="width: 85%">Input Values</h6>
      <app-input-field
        class="calculator-form-field"
        [label]="'Volume of Sand (ml)'"
        [(in)]="vol_sand1"
      />

      <h6 style="width: 85%">Result</h6>

      <app-output-field
        class="calculator-form-field"
        [label]="'Sand in Crude (PTB)'"
        [out]="sand_crude1"
      />
    </mat-card-content>
  </mat-card>

  <mat-card class="calculator-card">
    <mat-card-header>
      <mat-card-title><h6>For More or Less than 1 Gallon</h6></mat-card-title>
    </mat-card-header>
    <mat-card-content class="calculator-content">
      <h6 style="width: 85%">Input Values</h6>

      <app-input-field
        class="calculator-form-field"
        [label]="'Volume of Sand (ml)'"
        [(in)]="vol_sand2"
      />
      <app-input-field
        class="calculator-form-field"
        [label]="'Volume of Sample (L)'"
        [(in)]="vol_sample"
      />

      <h6 style="width: 85%">Result</h6>
      <app-output-field
        class="calculator-form-field"
        [label]="'Sand in Crude (PTB)'"
        [out]="sand_crude2"
      />
    </mat-card-content>
  </mat-card>
</div>
