<app-calculator-header [title]="'API & SG'" />

<div class="calculator-container">
  <mat-card class="calculator-card">
    <mat-card-header>
      <mat-card-title><h6>Input Values</h6></mat-card-title>
    </mat-card-header>
    <mat-card-content class="calculator-content">
      <app-input-field
        class="calculator-form-field"
        [label]="'Density of Crude (sample)'"
        [placeholder]="'Enter weight 1'"
        [(in)]="doc"
      />
      <app-output-field class="calculator-form-field" [label]="'Density of Water'" [out]="'0.99902'" />
    </mat-card-content>
  </mat-card>

  <mat-card class="calculator-card">
    <mat-card-header>
      <mat-card-title><h6>Results</h6></mat-card-title>
    </mat-card-header>
    <mat-card-content class="calculator-content">
      <app-output-field class="calculator-form-field" [label]="'Spacific Gravity'" [out]="sg" />
      <app-output-field class="calculator-form-field" [label]="'API°'" [out]="api" />
    </mat-card-content>
  </mat-card>
</div>
