<app-calculator-header [title]="'Particulare Contaminants'" />

<div class="calculator-container">
  <mat-card class="calculator-card">
    <mat-card-header>
      <mat-card-title><h5>Input Values</h5></mat-card-title>
    </mat-card-header>
    <h6 style="width: 85%">Filter Paper 'up'</h6>
    <mat-card-content class="calculator-content">
      <app-input-field
        class="calculator-form-field"
        [label]="'W1 (g)'"
        [placeholder]="'Enter weight 1 up'"
        [(in)]="w1_up"
      />
      <app-input-field
        class="calculator-form-field"
        [label]="'W2 (g)'"
        [placeholder]="'Enter weight 2 up'"
        [(in)]="w2_up"
      />
      <h6 style="width: 85%">Filter Paper 'down'</h6>
      <app-input-field
        class="calculator-form-field"
        [label]="'W1 (g)'"
        [placeholder]="'Enter weight 1 down'"
        [(in)]="w1_down"
      />
      <app-input-field
        class="calculator-form-field"
        [label]="'W2 (g)'"
        [placeholder]="'Enter weight 2 down'"
        [(in)]="w2_down"
      />
      <h6 style="width: 85%">Volume</h6>
      <app-input-field
        class="calculator-form-field"
        [label]="'Vol. of the sample (ml)'"
        [placeholder]="'Enter sample volume'"
        [(in)]="vol"
      />
    </mat-card-content>
  </mat-card>

  <mat-card class="calculator-card">
    <mat-card-header>
      <mat-card-title><h5>Results</h5></mat-card-title>
    </mat-card-header>
    <mat-card-content class="calculator-content">
      <app-output-field
        class="calculator-form-field"
        [label]="'Diff \'up\' (g)'"
        [out]="diff_up"
      />
      <app-output-field
        class="calculator-form-field"
        [label]="'Diff \'down\' (g)'"
        [out]="diff_down"
      />
      <app-output-field
        class="calculator-form-field"
        [label]="'Particulare Contaminants (PPM)'"
        [out]="pc"
      />
    </mat-card-content>
  </mat-card>
</div>
