<app-calculator-header [title]="'Bulk Chemicals'" />

<div class="calculator-container">
  <mat-card class="calculator-card">
    <mat-card-header>
      <h5>Acid Concentration %</h5>
    </mat-card-header>
    <h6 style="width: 85%; padding-top: 5%">Input Values</h6>
    <mat-card-content class="calculator-content">
      <app-input-field class="calculator-form-field" [label]="'Volume of NaOH'" [placeholder]="'Enter volume of NaOH'" [(in)]="vol_naoh" />
      <app-input-field class="calculator-form-field" [label]="'Normality of KI.KIO'" [placeholder]="'Enter normality of NaOH'" [(in)]="nor_naoh" />
      <app-input-field class="calculator-form-field" [label]="'Weight of Sample (g)'" [placeholder]="'Enter sample volume'" [(in)]="weight_sample1" />
      <h6 style="width: 85%">Result</h6>
      <app-output-field class="calculator-form-field" [label]="'Acid Concentration %'" [out]="acid_concentration" />
    </mat-card-content>
  </mat-card>

  <mat-card class="calculator-card">
    <mat-card-header>
      <h5>Ferric Chloride %</h5>
    </mat-card-header>
    <h6 style="width: 85%; padding-top: 5%">Input Values</h6>
    <mat-card-content class="calculator-content">
      <app-input-field class="calculator-form-field" [label]="'Volume of Na₂S₂O₃'"[(in)]="vol_naso" />
      <app-input-field class="calculator-form-field" [label]="'Normality of Na₂S₂O₃'"[(in)]="nor_naso" />
      <app-input-field class="calculator-form-field" [label]="'Weight of Sample (g)'"[(in)]="weight_sample2" />
      <h6 style="width: 85%">Result</h6>
      <app-output-field class="calculator-form-field" [label]="'Ferric Chloride %'" [out]="ferric_chloride" />
    </mat-card-content>
  </mat-card>

  <mat-card class="calculator-card">
    <mat-card-header>
      <h5>Sodium Hypochlorite %</h5>
    </mat-card-header>
    <h6 style="width: 85%; padding-top: 5%">Input Values</h6>
    <mat-card-content class="calculator-content">
      <app-input-field class="calculator-form-field" [label]="'Tit. Volume for Sample (ml)'" [(in)]="tit_vol" />
      <app-input-field class="calculator-form-field" [label]="'Normality of Na₂S₂O₃'" [(in)]="nor_naso2" />
      <app-input-field class="calculator-form-field" [label]="'Weight of Sample (g)'" [(in)]="sample_size" />
      <h6 style="width: 85%">Result</h6>
      <app-output-field class="calculator-form-field" [label]="'Sodium Hypochlorite (ppm)'" [out]="sodium_hy_ppm" />
      <app-output-field class="calculator-form-field" [label]="'Sodium Hypochlorite %'" [out]="sodium_hy_perc" />
    </mat-card-content>
  </mat-card>
</div>
