<app-calculator-header [title]="'Sulfite'" />

<div class="calculator-container">
  <mat-card class="calculator-card">
    <mat-card-header>
      <mat-card-title><h5>Input Values</h5></mat-card-title>
    </mat-card-header>
    <mat-card-content class="calculator-content">
      <app-input-field
        class="calculator-form-field"
        label="Volume of Titrant (ml)"
        [(in)]="vol_titrant"
      ></app-input-field>
      <app-input-field
        class="calculator-form-field"
        label="Normality of KI.KIO"
        [(in)]="nor_ki"
      ></app-input-field>
      <app-input-field
        class="calculator-form-field"
        label="Sample Volume (ml)"
        [(in)]="sample_vol"
      ></app-input-field>
      <h6 style="width: 85%">By ICP</h6>
      <app-input-field
        class="calculator-form-field"
        label="Sulfure (ppm)"
        [(in)]="sulfure"
      ></app-input-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="calculator-card">
    <mat-card-header>
      <mat-card-title><h5>Results</h5></mat-card-title>
    </mat-card-header>
    <mat-card-content class="calculator-content">
      <app-output-field
        class="calculator-form-field"
        label="Sulfite (ppm)"
        [out]="sulfite"
      ></app-output-field>

      <h6 style="width: 85%">By ICP</h6>
      <app-output-field
        class="calculator-form-field"
        label="Sulfite"
        [out]="sulfite_icp"
      ></app-output-field>
    </mat-card-content>
  </mat-card>
</div>
