<h2 style="text-align: center; color: #007bff">TSS Calculator</h2>

<div class="calculator-container">
  <mat-card class="calculator-card">
    <mat-card-header>
      <mat-card-title><h6>Input Values</h6></mat-card-title>
    </mat-card-header>
    <mat-card-content class="calculator-content">
      <mat-form-field appearance="outline" class="calculator-form-field">
        <mat-label>W1 of the desh (g)</mat-label>
        <input
          [(ngModel)]="w1"
          matInput
          placeholder="Enter weight 1"
          required
          type="text"
          inputmode="numeric"
          (blur)="formatInput($event, 'w1')"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="calculator-form-field">
        <mat-label>W2 of the desh (g)</mat-label>
        <input
          [(ngModel)]="w2"
          matInput
          placeholder="Enter weight 2"
          required
          type="text"
          inputmode="numeric"
          (blur)="formatInput($event, 'w2')"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="calculator-form-field">
        <mat-label>Vol. of the sample (ml)</mat-label>
        <input
          [(ngModel)]="vol"
          name="volume"
          matInput
          placeholder="Enter volume"
          required
          type="text"
          inputmode="numeric"
          (blur)="formatInput($event, 'vol')"
        />
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="calculator-card">
    <mat-card-header>
      <mat-card-title><h6>Results</h6></mat-card-title>
    </mat-card-header>
    <mat-card-content class="calculator-content">
      <mat-form-field appearance="outline" class="calculator-form-field">
        <mat-label>Diff of W2-W1</mat-label>
        <input readonly matInput placeholder="Placeholder" value="{{ diff }}" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="calculator-form-field">
        <mat-label>TSS (ppm)</mat-label>
        <input
          readonly
          matInput
          placeholder="Placeholder"
          value="{{ tss_ppm }}"
        />
      </mat-form-field>

    </mat-card-content>
  </mat-card>
</div>
