<div class="cards-container">
  <h1 class="cards-heading">Choose Your Calculator</h1>

  <div class="cards-grid">
    <a
      [routerLink]="card.link"
      *ngFor="let card of cards"
      class="card-link"
    >
      <mat-card class="card">
        <mat-card-content class="card-content">
          <mat-icon class="card-icon" color="primary">{{
            card.icon
          }}</mat-icon>
          <mat-card-title>{{ card.title }}</mat-card-title>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>

